<div class="flex flex-wrap px-4 py-8 md:px-6 lg:px-8">
  <div class="w-full md:w-6 px-4 py-8 md:px-6 lg:px-8 surface-900">
    <div class="text-4xl text-0 mb-3 font-medium">Promo Title Placeholder</div>
    <p class="line-height-3 mt-0 mb-7 p-0 text-0 text-2xl">Malesuada bibendum arcu vitae elementum curabitur vitae nunc.
      Aliquam nulla facilisi cras fermentum. Et egestas quis ipsum suspendisse ultrices.</p><a tabindex="0" pripple=""
      class="p-ripple p-element text-xl cursor-pointer surface-card text-900 text-center px-5 py-3 border-1 border-gray-200 hover:text-primary transition-duration-150 select-none block w-12rem">Read
      Story<span class="p-ink"></span></a>
  </div>
  <div class="w-full md:w-6 bg-no-repeat bg-cover"
    style="background: url('assets/images/storefront-1-17.png'); min-height: 400px;"></div>
</div>
