<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="surface-900 text-0 p-4" style="border-radius: 10px;">
    <div class="flex flex-column md:flex-row md:justify-content-between xl:justify-content-evenly"><span
        class="inline-flex align-items-center mb-3 md:mb-0"><i
          class="pi pi-shopping-cart text-base xl:text-2xl mr-3"></i><span
          class="text-base xl:text-2xl font-medium">Free Shipping</span></span><span
        class="inline-flex align-items-center mb-3 md:mb-0"><i
          class="pi pi-refresh text-base xl:text-2xl mr-3"></i><span class="text-base xl:text-2xl font-medium">120 Days
          Return Policy</span></span><span class="inline-flex align-items-center"><i
          class="pi pi-star text-base xl:text-2xl mr-3"></i><span class="text-base xl:text-2xl font-medium">10 Year
          Warranty</span></span></div>
  </div>
</div>
